<launch>
  <arg name="bag"/>
  <arg name="out_file_dir"/>
  <arg name="write_frames" default="false"/>
  <arg name="write_individual_frames" default="false"/>
  <arg name="keep_ratio" default="1"/>
  <arg name="out_bag" default=""/>

#	launch-prefix="gdb -ex run --args"
  <!-- nodes -->
  <node pkg="ffmpeg_image_transport_tools" type="decode_bag"
	name="decode_bag_single" output="screen">
    <param name="bag_file" type="string" value="$(arg bag)"/>
    <param name="out_bag_name" type="string" value="$(arg out_bag)"/>
    <param name="frame_base_dir" value="$(arg out_file_dir)/frames"/>
    <param name="video_base_name" value="$(arg out_file_dir)/video_full"/>
    <param name="keep_ratio" value="$(arg keep_ratio)"/>
    <param name="write_frames" value="$(arg write_frames)"/>
    <param name="write_video" value="true"/>
    <param name="write_individual_frames" value="$(arg write_individual_frames)"/>
    <!-- number of rows and columns in the output image -->
    <param name="num_rows" type="int" value="2"/>
    <param name="num_cols" type="int" value="4"/>
    <!-- will stop after max_num_frames -->
    <param name="max_num_frames" type="int" value="400000000"/>
    <!--
	assigment of camera numbers (in this example: 8 cameras)
	to image locations. The image locations are numbered
	0 ... num_rows * num_cols, and are layed out row major:
	
	  0, 1, 2, 3,
	  4, 5, 6, 7

        Then, the location_to_camera map specifies in camera order
	how they are assigned to an image slot. So the following map
	will assign camera 0 to image location 4 (lower left corner),
	camera 1 to image loation 5 (second from left, bottom row) etc
	-->
    <rosparam param="location_to_camera">
      [ 3, 2, 7, 6,
        0, 1, 4, 5]
    </rosparam>
    <rosparam param="image_topics">
      ["/cam_sync/cam0/image_raw/ffmpeg",
      "/cam_sync/cam1/image_raw/ffmpeg",
      "/cam_sync/cam2/image_raw/ffmpeg",
      "/cam_sync/cam3/image_raw/ffmpeg",
      "/cam_sync/cam4/image_raw/ffmpeg",
      "/cam_sync/cam5/image_raw/ffmpeg",
      "/cam_sync/cam6/image_raw/ffmpeg",
      "/cam_sync/cam7/image_raw/ffmpeg"
      ]
    </rosparam>
    
  </node>
</launch>
