<launch>
  <arg name="bag"/>

#	launch-prefix="gdb -ex run --args"
  <node pkg="nodelet" type="nodelet" name="play_bag_nodelet"
	args="standalone ffmpeg_image_transport_tools/PlayBagNodelet"
	output="screen">
    <param name="bag_file" value="$(arg bag)"/>
    <rosparam param="image_topics">
      ["/cam_sync/cam0/iamge_raw",
      "/cam_sync/cam1/iamge_raw",
      "/cam_sync/cam2/iamge_raw",
      "/cam_sync/cam3/iamge_raw",
      "/cam_sync/cam4/iamge_raw",
      "/cam_sync/cam5/iamge_raw",
      "/cam_sync/cam6/iamge_raw",
      "/cam_sync/cam7/iamge_raw"
      ]
    </rosparam>
  </node>
</launch>
